* {
    margin: 0px;
    padding: 0px;
    
}
 footer, .booktitle article{
    left:10px;
    position: relative;
 }
header {
    border: 2px solid black;
    width: 100%;
    height: 300px;
}

div.hright {
    position: relative;
    top:270px;
    float: right;
    right:100px;

}
div.hright a:hover{
    color:bisque;
}
div.picture{
    display:flex;
}

div.hleft {
    float: left;

}
div.gNav {
    clear: both;
}
nav {
    background-color:aquamarine;
    border: 1px solid black ;
    width:100%;
    height:25px;
}
div.form{
    float : right;
}
div.list ul{
    float :left;
}
div.list li{
    display :inline;
    left:10px;
    position: relative;
}
div.list a{
    color:red;
}
nav div.list a:hover{
    color:#900;
}
.marquee{
    width:250px;
    height:300px;
}
.picture1{
    width:100px;
    height:120px;
}